@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 38% 6%;
    --foreground: 0 0% 98%;
    --card: 180 38% 6%;
    --card-foreground: 0 0% 98%;
    --popover: 180 38% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 24.9%;
    --input: 0 0% 24.9%;
    --ring: 0 0% 83.1%;
    --radius: 0.3rem;
  }
}

@font-face {
  font-family: 'RMO';
  src: url('/font/RMO.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik';
  src: url('/font/Rubik.ttf') format('truetype');
}

@font-face {
  font-family: 'KodeMono';
  src: url('/font/KodeMono.ttf') format('truetype');
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  .map {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #0a1616 !important;
    cursor: crosshair !important;
  }

  #info {
    position: absolute;
    display: inline-block;
    height: auto;
    width: auto;
    z-index: 100;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    left: 50%;
    transform: translateX(3%);
    visibility: hidden;
    pointer-events: none;
  }

  .marker {
    @apply bg-background;
    @apply w-96;
    @apply mb-4;
  }

  .overlay-marker {
    background: transparent;
  }

}

@layer base {
  .lz-marker-pin {
    width: 100px;
    height: fit-content;
    gap: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .lz-marker-icon {
    width: 23px !important;
 }

  .lz-marker-text {
    width: fit-content;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: 8px;
    padding: 1.5px 4px;
    padding-bottom: 0.5px;
    background: #000;
    color: #c0c0c0;
    text-align: center;
  }

  
  .location-marker-pin {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .location-marker-text {
    width: fit-content;
    letter-spacing: 0.7px;
    font-weight: 600;
    font-size: 12px;
    padding: 1.5px 4px;
    text-wrap: nowrap;
    color: #e0db95;
    text-align: center;
  }

  .location-text-border {
    filter: drop-shadow(0 0 0.75rem black);
    text-shadow:
      0 0 5px black
  }

  
  .poi-marker-pin {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .poi-marker-text {
    width: fit-content;
    letter-spacing: 0.7px;
    font-weight: 400;
    font-size: 10px;
    padding: 1.5px 4px;
    text-wrap: nowrap;
    color: #ffffff;
    text-align: center;
  }

  .poi-text-border {
    filter: drop-shadow(0 0 0.75rem black);
    text-shadow:
      0 0 5px black
  }


  .faction-marker-pin {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .faction-marker-text {
    width: fit-content;
    letter-spacing: 0.7px;
    font-weight: 600;
    font-size: 14px;
    padding: 1.5px 4px;
    text-wrap: nowrap;
    color: #ffffff;
    text-align: center;
  }

  .faction-text-border {
    filter: drop-shadow(0 0 0.75rem black);
    text-shadow:
      0 0 5px black
  }

  .task-marker-pin {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .task-marker-text {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: fit-content;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-size: 10px;
    padding: 1px 5px;
    background: #000;
    color: #c0c0c0;
    text-align: center;
    white-space: nowrap;
    filter: drop-shadow(0px 10px 10px #00000070);
    transition: opacity 200ms ease-in-out;
  }

  .task-marker-text::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    height: 100%;
    width: 12px;
    transform: translateY(-50%);
    background-color: #000;
    filter: drop-shadow(0px 10px 10px #00000070);
    clip-path: polygon(100% 0, 60% 50%, 100% 100%);
  }
  
  .task-marker-text {
    opacity: 0;
  }

  .task-marker-pin:hover .task-marker-text {
    opacity: 100;
  }
}